{% load static %}

<form action="{% url 'polls:search' %}" method="GET">
    <input type="text" name="search_query" placeholder="Поиск по опросам...">
    <button type="submit" class="btn btn-search">Search</button>
</form>

{% if search_query %}
    <ul>
    {% for question in search_results %}
        <li>
            <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}

<a href="{% url 'polls:index' %}">Назад на главную</a>